<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h3>show book id</h3>
    <hr>
    <h4>
        Title :{{ book_detail.title }}
    </h4>
    <hr>
    <h4>
        {%for i in author %}
        <h4>
            Author:{{ i.first_name }}
        </h4>
        {%endfor%}
    </h4>
    <hr>
   <h4>
    Published in:{{ book_detail.published_day }}
   </h4>
    
</body>
</html>